# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

wifiRawReceiver/bin/

wifiRawEcho/bin/

ESPNOW_lib/bin/

ESP32-Test/PYTHON_serial/test\.txt

*.txt

*.pyc

*.png

*.pcapng

ESP32-Test/PYTHON_serial/channel_study\.py

ESP32-Test/PYTHON_serial/datarate_study\.py
